@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

*{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-image: url('../img/bowl-and-pet-daities-on-green-background\ 1.png');
    background-size: cover;
    height: 409px;
}
.header-container-top{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    color: #f3f3f3;
    font-weight: 400;
    
}
.header-container-top p{
    padding: 5px;
    padding-left: 30px;
    font-size: 10px;
    
}

.header-lista{
    list-style: none;
    display: inline-flex;
    padding-right: 30px;
}
.header-lista li{
    padding: 5px;
    font-size: 10px;
}

.header-container-bottom {
    background-color: #f0a83e;
    display: flex;
    justify-content: space-between;

}


.first-logo{
    display: flex;
    align-items: center;
    padding-left: 30px;

}
.nav .nav-links ul{
    display: flex;
    display: inline-flex;
    list-style: none;
    
}
.nav .nav-links ul li{
    padding: 20px;
}

.nav .nav-links ul li::before{
    content: url('../img/pawprint\ 1.png');
}

.logo-base {
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    color: #ffffff;
}

.logo-first {
    color: #3c2313;
}

.nav-links {
    list-style: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 13px;
}

section{
    display: block;
}



h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 46.88px;
    color: #3C2313;
    text-align: center;
}

h2{
    color: #3C2313;
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
}
.container-image-header{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    padding-right: 30px;
    margin-top: 90px;
    
}
.container-image-header h2{
    font-weight: 400;

}
.title{
    margin-top: 10px;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    margin-bottom: 10px;

}
.title p{
    margin-top: 10px;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    margin-bottom: 10px;
    color:#3C2313;
    
}
.container-image-header h2{
    background-color: white;
}
h3{
    font-weight: 500;
    font-size: 15;
    line-height: 17.58px;
    color: #3C2313;
    text-align: center;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;

}

i{
    color: #F0A83E;
    font-size:3.3em;
    padding: 10px;
    text-align: center;
}


button{
    text-transform: uppercase;
    background-color: #F0A83E;
    width: 141px;
    height: 49px;
    /*margin-top: 334px;
    margin-left: 767px;*/
    border-radius: 5px;
    align-self: center;
    color: white;
    border: none;
}

.list-body > li{
    
    font-weight: 400;
    font-size: 15px;
    line-height: 17.58px;

    display: inline-block;
    padding-right: 20px;

}
.list-images{
    display: flex;    
    justify-content: space-evenly;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form h2{
    margin-top: 80px;
    font-weight: 700;
}

.formulario input{
    padding: 10px;
    padding-left: 20px;
    width: 340px;
    margin-top: 10px;
}
.buttons-form{
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-bottom: 80px;
}
.button-reset{
    margin-right: 20px;
}

.container-subscribe{
    background-color:#F0A83E ;
    display: flex;
    justify-content: space-between;
}
.text-suscribe{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}
.text-suscribe p{
    padding-left: 20px;
    padding-top: 10px;
}

/*.text-suscribe p::before{
    content: url('../img/enviar-correo\ 1.png');
}*/

.input-button{
    padding: 20px;
}
.input-button input{
    height: 40px;
    width: 271px;
    border-radius: 15px;

}

.container-products p{
    color: #F0A83E ;
    text-align: center;
}


.contact{
    border-radius: 15px;
    background-color: #3C2313;
    color: #FFFFFF;
}

.button-reset{
    border-radius: 15px;
    background-color: #8A8787;

}

.button{
    border-radius: 40px;
    

}

footer{
    background-color: #3C2313;
}

.logo-footer{
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    color: #F0A83E;

}

.logo-second {
    color: #ffffff;
}

footer > h4{
    background-color: #222222;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
}
.input-button button{
    background-color: #3C2313 ;
    border-radius: 40px;
}

.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container-footer p{
    padding-right: 50px;

}
.container-footer1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mini-container-footer{
    display: flex;
    padding: 20px;
    padding-left: 50px;
}

.mini-container-footer img{
    padding-right: 30px;
}
.mini-container-footer h4 {
    color: #FFFFFF;
    font-size: 20px;
}

.mini-container-footer p{
color: #8A8787;
font-size: 10px;
}
.fa-chevron-down{
    font-size: 10px;
    padding: 0;
}
.last-footer{
    padding: 5px;

}
.menuToggle{
    display: none;

}

.respmenu{
    display: none;
}
/*******Responsive******/
  
  @media screen and (max-width: 480px){
    .nav{
        display: none;
    }  
    
    .list-images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title{
        display: flex;
        justify-content: center;
    }

    .titles{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .container-image-header p {
        display: flex;
        align-self: flex-end;
    }
    .container-image-header button {
        text-transform: uppercase;
        background-color: #F0A83E;
        width: 141px;
        height: 49px;
        border-radius: 5px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: flex-end;
    }  
    .container-footer  {
        display: flex;
        flex-direction: column
    }  

    .logo-footer{
        font-size: 20px;
        font-weight: 700;
        line-height: 23.44px;
        color: #F0A83E;
        order: -1;
        display: flex;

    }
    .mini-container-footer{
        padding-left: 50px;
        font-size: 24px;
    }
    
    .container-subscribe {
        background-color: #F0A83E;
        display: flex;
        flex-direction: column;
    }
    .input-button {
        padding: 10px;
    }
    .text-suscribe {
        padding: 0;
    }

    /* menu hamburguesa*/
    .mobile-header{
        display: flex;

    }
    .mobile-header i{
        color:white;
    }

    .logo-base {
        font-size: 16px;
        font-weight: 700;
        line-height: 23.44px;
        color: #ffffff;
    }

    .respmenu a {
        color: inherit;
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        border-bottom: 2px solid #456789;
        max-width: 200px;
        background: #234567;
        font-variant: small-caps;
        text-shadow: 1px 1px black;
      }

      .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
      }
      
      .respmenu .fa-bars, .respmenu .fa-times {
        font-size: 38px;
        pointer-events: none;
      }
      
      .respmenu input[type="checkbox"] {
        opacity: 0;
      }
      
      .respmenu {
        display: flex;
        color: white;
        background: #123456;
        min-height: 48px;
        align-self: center;
      }
      
      .respmenu nav {
        display: none;
      }
      
      .respmenu input:checked ~ nav {
        display: block;
      }
      
      .respmenu input:checked ~ .fa-bars {
        display: none;
      }
      
      .respmenu input:not(:checked) ~ .fa-times {
        display: none;
      }

    
    
  
  
  }


